<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       default-lazy-init="false"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   		http://www.springframework.org/schema/task
			http://www.springframework.org/schema/task/spring-task-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.github.trace.task"/>

    <!-- 定时执行及线程池配置 -->
    <task:annotation-driven executor="myExecutor" scheduler="myScheduler"/>
    <task:executor id="myExecutor" pool-size="5-50" queue-capacity="10" rejection-policy="CALLER_RUNS"/>
    <task:scheduler id="myScheduler" pool-size="5"/>

    <bean id="versionSyncSchedule" class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
        <!-- wait 20 seconds before starting repeated execution -->
        <property name="delay" value="20000" />
        <!-- run every 1 hours -->
        <property name="period" value="3600000" />
        <property name="runnable" ref="versionSyncTask" />
    </bean>

    <bean id="sourceDataSyncSchedule" class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
        <!-- wait 20 seconds before starting repeated execution -->
        <property name="delay" value="20000" />
        <!-- run every 1 hours -->
        <property name="period" value="3600000" />
        <property name="runnable" ref="dataSourceMonitorTask" />
    </bean>
    <bean id="scheduledExecutorFactoryBean" class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean" lazy-init="false" >
        <property name="scheduledExecutorTasks">
            <list>
                <ref bean="versionSyncSchedule"/>
                <ref bean="sourceDataSyncSchedule"/>
            </list>
        </property>
        <property name="continueScheduledExecutionAfterException" value="true"/>
    </bean>
</beans>
